/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-body-wrapper {
  height: 100% !important;
}



mat-tab-group.content  div.mat-tab-body-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
mat-tab-group.content-home  div.mat-tab-body-content {
  overflow: hidden;
}


