<mat-stepper>

  <!--  Step 1: Pick category-->
  <mat-step>
    <mat-form-field>

      <mat-select [formControl]="selectedCategorieCtr">
        <mat-option *ngFor="let category of categories" [value]="category.id_categorie">
          {{category.categorie}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-button   matDialogClose>Annuler</button>
      <button (click)="getSkills()" mat-button  matStepperNext>Suivant</button>
    </div>

  </mat-step>

  <!--  Step 2: Pick skills-->
  <mat-step>
    <mat-selection-list #list (selectionChange)="selectedLevels($event.source)">
      <mat-list-option *ngFor="let skill of skills" [value]="skill">
        {{skill.competence}}
      </mat-list-option>
    </mat-selection-list>

    <div>
      <button mat-button   matStepperPrevious>Précédent</button>
      <button mat-button   matDialogClose>Annuler</button>
      <button mat-button  (click)="getLevels()" matStepperNext>Suivant</button>
    </div>
  </mat-step>

  <!--  Step : Send form-->
  <mat-step>
    <!-- <form [formArrayName]="formArray" ="formArray" (ngSubmit)="saveSkills()">
      <div *ngFor="let skill of arrayForm">
        <mat-label>{{skill.competence}}</mat-label>
        <mat-divider></mat-divider>
        <mat-form-field>
          <mat-label>Niveau d'experience</mat-label>
          <mat-select formControlName="val_niveau">
            <mat-option *ngFor="let level of levels" [value]="level.val_niveau">
              Niveau: {{level.val_niveau}}, Desc: {{level.desc_niveau}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Année d'expérience</mat-label>
          <input matInput type="number" min="0" >
        </mat-form-field>
      </div>

      <div>
        <button mat-button   matStepperPrevious>Précédent</button>
        <button mat-button   matDialogClose>Annuler</button>
        <button mat-button   matStepperNext type="submit">Enregistrer</button>
      </div>

    </form> -->

    <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">

      <div formArrayName="skills" *ngFor="let skill of formData.controls; let i = index">
        <div [formGroupName]="i">
         <mat-label>{{skill.value.competence}}</mat-label>
          <mat-divider></mat-divider>
          <mat-form-field>
            <mat-label>Niveau d'experience</mat-label>
            <mat-select formControlName="val_niveau">
              <mat-option *ngFor="let level of levels" [value]="level.val_niveau">
                Niveau: {{level.val_niveau}}, Desc: {{level.desc_niveau}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Année d'expérience</mat-label>
            <input matInput type="number" min="0" formControlName="nb_experience">
          </mat-form-field>
        </div>


        <div>

        </div>

      </div>
      <div>
        <button mat-button   matStepperPrevious>Précédent</button>
        <button mat-button   matDialogClose>Annuler</button>
        <button mat-button   matStepperNext type="submit">Enregistrer</button>
      </div>
    </form>

  </mat-step>

</mat-stepper>
