.container {
  width: 350px;
  margin: 30px 30px 30px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.sub-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  height: 100%;
  align-items: center;
  /* justify-items: center; */
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: white;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
}
#header {
  display: flex;
  justify-content: center;
}
