<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <span>
        <a mat-list-item [routerLink]="['/home']">
        <mat-icon matListIcon>home</mat-icon>
        <p mat-line>Profil Utilisateur</p>
        </a>
      </span>

      <span>
         <a mat-list-item *ngIf="profil === 'admin'"
            [routerLink]="['/home/edit-db']" [matBadge]="notif" [matBadgeHidden]="notif != 0 ? false: true"
            matBadgeColor="warn" matBadgeSize="small">
           <mat-icon matListIcon>add_cercle</mat-icon>
          <p mat-line>Competences/ Certifications</p>
         </a>

      </span>

      <span>
     <a mat-list-item *ngIf="profil != 'admin'"
        [routerLink]="['/home/pass-request']">
       <mat-icon matListIcon>send</mat-icon>
        <p mat-line>Contacter RH</p></a>
      </span>
      <span>
      <a mat-list-item *ngIf="profil === 'admin'" [routerLink]="['/home/find-employee']">
        <mat-icon matListIcon>search</mat-icon>
        <p mat-line>Chercher collaborateur</p></a>
</span>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
    <div class="div-toolbar">
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>gpec-front</span>
        <span class="example-space"></span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
