<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  [routerLink]="['/home']">Profil Utilisateur</a>
      <a mat-list-item *ngIf="profil === 'admin'"
         [routerLink]="['/home/edit-db']">Ajouter Des nouveaux Competences/Certifications</a>
      <a mat-list-item *ngIf="profil === 'admin'" [routerLink]="['/home/find-employee']">Chercher un collaborateur</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container">
    <div>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>gpec-front</span>
        <span class="example-space"></span>
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
      </mat-toolbar>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
