.container {
  /* width: 100%; */
  height: 100% !important;
  margin: 30px 30px 30px 30px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
}

.content {
  flex: 1 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-card {
  /* flex: 1 0 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content__1 {
  flex: 1 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  /*width: 300px;*/

}
.div-card {
  margin: 0 4px 0 4px;
}
span {
  margin: 15px 0 15px 0;
}
mat-selection-list {
  background-color: white;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid rgba(0,0,0,.12);
  overflow-y: scroll;

}
.item_card {
  margin: 0 !important;
}
div.item_card > .mat-card {
  padding: 0 !important;
  margin: 8px;
}
mat-card {
  margin: 4px !important;
}
img {
  width: 100px;
  height: 100px;
}
.grid {
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.list_card {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.flex_card {
  height: 700px;
  max-height: 700px;
  min-width: 550px;
  border: 1px solid rgba(0,0,0,.12);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;

}
.item_card {
  /*width: 100%;*/
  margin: 8px !important;
  width: 250px;
}

.flex_card > div {
  /*flex: 35%;*/
  width: 30%;
  max-width: 45%;
  margin: 4px;
}


.list-card {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.mat-subheader {
  font-size: 18px !important;
  font-weight: 550 !important;
  color: rgba(50, 50, 50,.5) !important;

}


.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
