<div class="container">
  <div class="content" style="flex-direction: column">
    <div style="display: flex; justify-content: center">
      <h3>Chercher par compétence</h3>
    </div>
    <div class="content">
      <div class="content-body">
        <div>
          <mat-form-field>
            <mat-select [formControl]="selectedCatCtr" (selectionChange)="changeSkill()">
              <mat-option *ngFor="let category of categories" [value]="category.id_categorie">
                {{category.categorie}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>



        <div class="list">
          <span  class="mat-subheader">Liste des compétences</span>
          <mat-selection-list [formControl]="selectedSkillsCtr">
            <mat-list-option *ngFor="let item of skills" [value]="item">
              {{item.competence}}
              <mat-divider></mat-divider>
            </mat-list-option>

          </mat-selection-list>
        </div>

        <div>
          <button mat-button (click)="add()">Sélectionner</button>
          <button mat-button (click)="reset()">Recommencer</button>
        </div>
      </div>
      <mat-divider [vertical]="true">

      </mat-divider>
      <div class="content-body">
        <span  class="mat-subheader">Liste des compétences</span>
        <mat-chip-list
          class="example-chip"
          cdkDropList
          cdkDropListOrientation="horizontal">
          <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let choice of choices">
            {{choice.competence}}
          </mat-chip>
        </mat-chip-list>
        <span [ngStyle]="{'display' : choices.length != 0 ? 'block' : 'none'}">
         <button mat-raised-button (click)="search()">Lancer la recherche</button>
      </span>

      </div>
    </div>
  </div>

  <mat-divider [vertical]="true">

  </mat-divider>

  <div class="content">

    <div class="content-body">
      <div>
        <h3 style="text-align: center">Les profils correspondants</h3>
      </div>
      <div  class="flex_card" *ngIf="employees" [ngStyle]="{'display': employees.length != 0 ? 'flex' : 'none'}">
        <div  class="item_card" *ngFor="let employee of employees">
          <mat-card>
            <img [src]="employee.photo != null ? employee.photo : imageDefault">
            <mat-card-subtitle>
              {{employee.nom}}
              {{employee.prenom}}
              {{employee.profil}}
            </mat-card-subtitle>
            <mat-card-content>
              <p *ngFor="let skill of employee.skills">
                {{skill.competence}} Niveau: {{skill.niveau}}, {{skill.nb_experience}} années d'expérience
              </p>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>

          </mat-card>
        </div>
      </div>

    </div>



  </div>


</div>
